<footer>
  <div class="footer-grid">
    <div>
      <p class="label-s">
        518, SAMSEONG-RO, GANGNAM-GU, SEOUL, REPUBLIC OF KOREA
      </p>
      <p class="label-s">COMPANY : KOLONINDUSTRIES INC</p>
      <p class="label-s">CEO : YOO, SUK JIN</p>
      <p class="label-s">BUSINESS LICENSE : 138-85-19612</p>
      <p class="label-s">MAIL ORDER REPORT NUMBER : 2017 - 서울강남 - 02297</p>
    </div>
    <div>
      <a
        class="label-s"
        href="https://www.instagram.com/luckymarche"
        target="_blank"
        rel="noopener noreferrer"
        >INSTAGRAM</a
      >
      <a
        class="label-s"
        href="https://www.facebook.com/luckymarche.official"
        target="_blank"
        rel="noopener noreferrer"
        >FACEBOOK</a
      >
    </div>
    <div class="lang">
      <a
        class="label-s <%= currentLocale === 'kr' ? 'active' : '' %>"
        href="/setlang/kr"
        >KR</a
      >
      <a
        class="label-s <%= currentLocale === 'en' ? 'active' : '' %>"
        href="/setlang/en"
        >EN</a
      >
      <a
        class="label-s <%= currentLocale === 'cn' ? 'active' : '' %>"
        href="/setlang/cn"
        >CN</a
      >
    </div>
  </div>
</footer>
