@font-face {
  font-family: font;
  src: url('../public/assets/PPCirka-Bold.woff');
  font-weight: 700;
}
@font-face {
  font-family: font;
  src: url('../public/assets/PPCirka-Light.woff');
  font-weight: 300;
}

body {
  font-family: font;
}
